@import url("fonts/gfont-nunito.css");

body {
    background:#231145;
    font-family: 'Nunito', sans-serif;
    margin:0;
}

.button {
    background-color: #c64dff;
    color: #ffffff;
    font-size: 1.5em;
    position: relative;
    outline: none;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    height: 50px;
    width: 300px;
    text-decoration: none;
    margin: auto;
    border: 3px white solid;
    transition: 0.5s ease;
    font-weight: bold;

  }

.button:hover {
    transform:scale(1.2)
}

ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    list-style-type: none;
}

li {
    padding-top: 10%
}

.everything {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 8px;
    height: 100vh;
  }

.centerstuff {
    position: relative;
    text-align: center;
    padding: 8px;
    border:6px black solid;
    border-radius:15%;
    overflow: hidden;
}

.p {
    color: white;
    font-size: 2.4rem;
    text-shadow: 1px 1px 5px #000000;
    cursor: pointer;
    text-decoration: none;
}

.middle {
    cursor: pointer;
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

.image {
    width:20rem;
    filter:blur(5px);
    -webkit-filter:blur(5px);
    transform:scale(1.1);
    transition: 0.5s ease;
}

.centerstuff:hover > .hover > .image {
    transform:scale(1.2);
    filter:blur(0);
    -webkit-filter:blur(0);
  }

.icon-div {
    position: fixed;
    bottom: 15px;
    left: 25px;
}

.icon {
    transition: 0.3s;
    cursor: pointer;
    padding: 0 5px 0 5px;
    width: 30px;
}

.icon:hover {
    transition: 0.3s;
    width: 40px;
}