.everything {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 8px;
    height: 100vh;
  }

.centerstuff {
    position: relative;
    text-align: center;
}

.p {
    color: white;
    font-size: 2.4rem;
    text-shadow: 1px 1px 5px #000000;
    cursor: pointer;
    text-decoration: none;
}

.middle {
    cursor: pointer;
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

.image {
    width:20rem;
    filter:blur(5px);
    -webkit-filter:blur(5px);
    transform:scale(1.1);
    transition: 0.5s ease;
}

.centerstuff:hover > .hover > .image {
    transform:scale(1.2);
    filter:blur(0);
    -webkit-filter:blur(0);
  }